BeautifulSoup==3.2.1
Flask==0.10.1
Flask-OAuth==0.12
Flask-Script==0.6.2
Flask-WTF==0.9.2
Jinja2==2.7.1
MarkupSafe==0.18
PyBrain==0.3
PyYAML==3.10
Unidecode==0.04.14
Unirest==1.0.6
WTForms==1.0.5
Werkzeug==0.9.4
beautifulsoup4==4.3.1
flask-mongoengine==0.7.0
gdata==2.0.18
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
lxml==3.2.3
mongoengine==0.8.4
nltk==2.0.4
oauth2==1.5.211
poster==0.8.1
pyechonest==8.0.1
pymongo==2.6.2
python-itunes==1.0
requests==2.0.0
wsgiref==0.1.2
