<div class='container'>
    <br>
    <br>
    <br>
    <div id="albumflow"></div>


    <br>

    <div class='row-fluid'>
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" id="songs-tab" data-toggle="tab">Songs</a></li>
                <li><a ng-click="refreshTiles('#albums')" href="#tab2" id="albums-tab" data-toggle="tab">Albums</a></li>
                <li><a ng-click="refreshCarousel('.carousel')" href="#tab3" id="artists-tab" data-toggle="tab">Artists</a></li>
                <li><a href="#tab4" id="playlists-tab" data-toggle="tab">Playlists</a></li>
                <li><a href="#tab5" id="radio-tab" data-toggle="tab">Radio</a></li>
                <li><a href="#tab6" id="featured-tab" data-toggle="tab">Featured</a></li>
            </ul>

            <div class="tab-content" style="margin: 0 auto;">
                <div class="tab-pane active" id="tab1">
                    {% include "/search/_songs.html" %}
                </div>
                <div class="tab-pane" id="tab2">
                    {% include "/search/_albums.html" %}
                </div>
                <div class="tab-pane" id="tab3">
                    {% include "/search/_artists.html" %}
                </div>
                <div class="tab-pane" id="tab4">
                    {% include "/search/_playlists.html" %}
                </div>
                <div class="tab-pane" id="tab5">
                    <p>Feature in progress</p>
                </div>
                <div class="tab-pane" id="tab6">
                    {% include "/search/_featured.html" %}
                </div>
            </div>
        </div>

    </div>

</div>