<div ng-controller='SearchCtrl' class='container'>
    <br>
    <br>
    <br>
    <div id="albumflow"></div>


    <br>

    <div class='row-fluid'>
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" id="songs-tab" data-toggle="tab">Songs</a></li>
                <li><a ng-click="refreshTiles('#albums')" href="#tab2" id="albums-tab" data-toggle="tab">Albums</a></li>
                <li><a href="#tab3" id="artists-tab" data-toggle="tab">Artists</a></li>
                <li><a href="#tab4" id="playlists-tab" data-toggle="tab">Playlists</a></li>
                <li><a href="#tab5" id="radio-tab" data-toggle="tab">Radio</a></li>
            </ul>

            <div class="tab-content" style="margin: 0 auto;">
                <div class="tab-pane active" id="tab1">
                    <div ng-show="loading" style="text-align:center; margin:10px"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></div>
                    <table ng-show='results' class='table table-striped table-hover table-condensed'>
                        <thead>
                            <tr>
                                <td width='15px'>
                                </td>
                                <td width='200px'>
                                    Title
                                </td>
                                <td width='100px'>
                                    Time
                                </td>
                                <td width='150px'>
                                    Artist
                                </td>
                                <td width='200px' style="overflow: hidden">
                                    Album
                                </td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="context-menu" ng-click="load_videos(music.songs,$index);" ng-repeat="song in music.songs track by $index"
                                data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}"
                                ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}"
                                data-index=[[$index]]>
                                <td style="width:12px"><i ng-show='song==currently_playing' class="icon-play-circle"></i></td>
                                <td> [[song.title]] </td>
                                <td timeify> [[format_to_time(song.duration)]] </td>
                                <td> [[song.artist]] </td>
                                <td ng-click="get_album_contents(song.album_id); $event.stopPropagation()"> [[song.album]]</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab2">
                    <div ng-show="loading" style="text-align:center; margin:10px"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></div>
                    <div ng-show='results' id="albums">
                        <div class="item" ng-repeat="album in music.albums">
                            <div ng-click ="play_album_contents(album)" class="album-art-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="album-art">
                                    <div class="front">
                                        <img src=[[album.img]] height="150px" width="150px">
                                    </div>
                                    <div class="back" style="position:relative">
                                        <img src='/static/img/vinyl.png' height="150px" width="150px">
                                        <div class='album-detail' style='top:30px'>
                                            <div class='album-detail-title'>
                                                [[album.title]]
                                            </div>
                                        </div>
                                        <div class='album-detail' style='top:100px'>
                                            <div class='album-detail-artist'>
                                                [[album.artist]]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <p>Feature in progress</p>
                </div>
                <div class="tab-pane" id="tab4">
                    <div class='row-fluid'>
                        <div class="span3" style="background-color:#e1e4e7">
                            <table style="width:100%; font-size:120%" class="table-hover table-condensed">
                                <tr>
                                    <td style="padding:5px"><i class="icon-headphones"></i> Up Next</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px"><i class="icon-cog"></i> My Top Rated</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px"><i class="icon-cog"></i> Recently Played</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px"><i class="icon-cog"></i> Top 25 Most Played</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px"><i class="icon-music"></i></i> My Playlist</td>
                                </tr>
                            </table>
                        </div>
                        <div class="span9">
                            <table class='table table-striped table-hover table-condensed'>
                                <thead>
                                    <tr>
                                        <td width='15px'>
                                        </td>
                                        <td width='200px'>
                                            Title
                                        </td>
                                        <td width='100px'>
                                            Time
                                        </td>
                                        <td width='150px'>
                                            Artist
                                        </td>
                                        <td width='200px' style="overflow: hidden">
                                            Album
                                        </td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr ng-click="load_videos(music.up_next,$index);$rootScope.is_up_next_playing = true;" ng-repeat="song in music.up_next track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}" ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">-->
                                    <tr ng-repeat="song in music.up_next track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}" ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">
                                        <td style="width:12px"><i ng-show='song==currently_playing' class="icon-play-circle"></i></td>
                                        <td> [[song.title]] </td>
                                        <td> [[format_to_time(song.duration)]] </td>
                                        <td> [[song.artist]] </td>
                                        <td ng-click="get_album_contents(song.album_id); $event.stopPropagation()"> [[song.album]]</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab5">
                    <p>Feature in progress</p>
                </div>
            </div>
        </div>

    </div>

</div>