<div ng-controller='SearchCtrl' class='container'>
    <br>
    <br>
    <br>
    <!--<div ng-model="all_songs.playlist" data-drop="true" jqyoui-droppable="{multiple:true,onDrop:'coverflow'}" style="border:2px solid black; height:60px">-->
        <!--<span>-->
            <!--<img ng-cloak ng-click="load_videos(playlist_songs,$index);" style="margin:4px" width=50 height=50-->
                 <!--src='[[item.img]]' ng-repeat='item in playlist_songs track by $index'-->
                 <!--ng-show="item.title" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"-->
                 <!--ng-model="all_songs.playlist" jqyoui-droppable="{index: [[$index]],animate:false}"/>-->
        <!--</span>-->
    <!--</div>-->
    <div id="albumflow"></div>

    <div ng-show="loading" style="text-align:center; margin:10px"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></div>

    <br>
    <div ng-show='results' class='row-fluid'>
        <div class='span12'>
            <table class='table table-striped table-hover table-condensed'>
                <thead>
                    <tr>
                        <td>
                        </td>
                        <td>
                            Title
                        </td>
                        <td>
                            Time
                        </td>
                        <td>
                            Artist
                        </td>
                        <td>
                            Album
                        </td>

                    </tr>
                </thead>
                <tbody>
                    <!--<li ng-repeat='item in list3' ng-show="item.title" ">[[item.title]]</li>-->

                    <tr ng-click="load_videos(songs,$index);" ng-repeat="song in songs" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">
                        <td style="width:12px"><i ng-show='song==currently_playing' class="icon-play-circle"></i></td>
                        <td> [[song.title]] </td>
                        <td timeify> [[song.duration]] </td>
                        <td> [[song.artist]] </td>
                        <td ng-click="get_album_contents(song.album_id); $event.stopPropagation()"> [[song.album]]</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>