<div ng-show="loading" style="text-align:center; margin:10px"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}"></div>
<div ng-controller="AlbumCtrl" ng-show='results' id="albums">
    <div class="item" ng-repeat="album in music.albums">
        <div ng-click ="play_album_contents(album)" class="album-art-container" ontouchstart="this.classList.toggle('hover');">
            <div class="album-art">
                <div class="front">
                    <img src=[[album.img]] height="150px" width="150px">
                </div>
                <div class="back" style="position:relative">
                    <img src='/static/img/vinyl.png' height="150px" width="150px">
                    <div class='album-detail' style='top:30px'>
                        <div class='album-detail-title'>
                            [[album.title]]
                        </div>
                    </div>
                    <div class='album-detail' style='top:100px'>
                        <div class='album-detail-artist'>
                            [[album.artist]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>