<div ng-controller="PlaylistCtrl" class='row-fluid'>

    <div class="span3">
        <ul class="nav nav-list nav-tabs nav-stacked nav-justified">
            <li class="active playlist-tab">
                <a href="#next" id="next-tab" data-toggle="tab">
                    <i class="icon-headphones"></i> Up Next
                </a>
            </li>
            <li class="playlist-tab">
                <a href="#rated" id="rated-tab" data-toggle="tab">
                    <i class="icon-cog"></i> My Top Rated
                </a>
            </li>
            <li class="playlist-tab">
                <a href="#recent" id="recent-tab" data-toggle="tab">
                    <i class="icon-cog"></i> Recently Played
                </a>
            </li>
            <li class="playlist-tab">
                <a href="#played" id="played-tab" data-toggle="tab">
                    <i class="icon-cog"></i> Top 25 Most Played
                </a>
            </li>
            <li class="playlist-tab" ng-repeat="playlist in music.playlists">
                <a  href="#playlist[[$index]]" data-toggle="tab">
                    <i class="icon-music"></i></i> [[playlist.name]]
                </a>
            </li>
        </ul>
        <a ng-click="new_playlist()" class="btn btn-inverse">New Playlist</a>
    </div>
    <div class="span9">
        <div class="tab-content" style="margin: 0 auto;">
            <div class="tab-pane active" id="next">
                <table class='table table-condensed'>
                    <thead>
                        <tr>
                            <td width='15px'>
                            </td>
                            <td width='200px'>
                                Title
                            </td>
                            <td width='100px'>
                                Time
                            </td>
                            <td width='150px'>
                                Artist
                            </td>
                            <td width='200px' style="overflow: hidden">
                                Album
                            </td>

                        </tr>
                    </thead>
                    <tbody class="selectable">
                        <!--<tr ng-click="load_videos(music.up_next,$index);$rootScope.is_up_next_playing = true;" ng-repeat="song in music.up_next track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}" ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">-->
                        <tr class="context-menu" ng-dblclick="load_videos(playlist.songs,$index);" ng-repeat="song in music.up_next track by $index" data-drag="true"
                            data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}"
                            ng-model="playlist.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">
                            <td style="width:12px"><i ng-show='song==currently_playing' class="icon-play-circle"></i></td>
                            <td> [[song.title]] </td>
                            <td> [[format_to_time(song.duration)]] </td>
                            <td> [[song.artist]] </td>
                            <td ng-click="get_album_contents(song.album_id); $event.stopPropagation()"> [[song.album]]</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="rated">

            </div>
            <div class="tab-pane" id="recent">

            </div>
            <div class="tab-pane" id="played">

            </div>
            <div ng-repeat="playlist in music.playlists" class="tab-pane" id="playlist[[$index]]">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr style="border-bottom: 1px solid #e1e4e7">
                            <td width='15px'>
                            </td>
                            <td width='200px'>
                                    Title
                            </td>
                            <td width='100px'>
                                    Time
                            </td>
                            <td width='150px'>
                                Artist
                            </td>
                            <td width='200px' style="overflow: hidden">
                                Album
                            </td>

                        </tr>
                    </thead>
                    <tbody class="selectable">
                        <!--<tr ng-click="load_videos(music.up_next,$index);$rootScope.is_up_next_playing = true;" ng-repeat="song in music.up_next track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}" ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">-->
                        <tr class="context-menu" ng-dblclick="load_videos(playlist.songs,$index);" ng-repeat="song in playlist.songs track by $index" data-drag="true"
                            data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}"
                            ng-model="playlist.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">
                            <td style="width:12px"><i ng-show='song==currently_playing' class="icon-play-circle"></i></td>
                            <td> [[song.title]] </td>
                            <td> [[format_to_time(song.duration)]] </td>
                            <td> [[song.artist]] </td>
                            <td ng-click="get_album_contents(song.album_id); $event.stopPropagation()"> [[song.album]]</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<table class='table table-striped table-hover table-condensed'>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<td width='15px'>-->
                    <!--</td>-->
                    <!--<td width='200px'>-->
                        <!--Title-->
                    <!--</td>-->
                    <!--<td width='100px'>-->
                        <!--Time-->
                    <!--</td>-->
                    <!--<td width='150px'>-->
                        <!--Artist-->
                    <!--</td>-->
                    <!--<td width='200px' style="overflow: hidden">-->
                        <!--Album-->
                    <!--</td>-->

                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--&lt;!&ndash;<tr ng-click="load_videos(music.up_next,$index);$rootScope.is_up_next_playing = true;" ng-repeat="song in music.up_next track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}" ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">&ndash;&gt;-->
                <!--<tr ng-repeat="song in music.up_next track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}" ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">-->
                    <!--<td style="width:12px"><i ng-show='song==currently_playing' class="icon-play-circle"></i></td>-->
                    <!--<td> [[song.title]] </td>-->
                    <!--<td> [[format_to_time(song.duration)]] </td>-->
                    <!--<td> [[song.artist]] </td>-->
                    <!--<td ng-click="get_album_contents(song.album_id); $event.stopPropagation()"> [[song.album]]</td>-->

                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    </div>
</div>
