<div class='row-fluid'>
    <div class="span3" style="background-color:#e1e4e7">
        <table style="width:100%; font-size:120%" class="table-hover table-condensed">
            <tr>
                <td style="padding:5px"><i class="icon-headphones"></i> Up Next</td>
            </tr>
            <tr>
                <td style="padding:5px"><i class="icon-cog"></i> My Top Rated</td>
            </tr>
            <tr>
                <td style="padding:5px"><i class="icon-cog"></i> Recently Played</td>
            </tr>
            <tr>
                <td style="padding:5px"><i class="icon-cog"></i> Top 25 Most Played</td>
            </tr>
            <tr>
                <td style="padding:5px"><i class="icon-music"></i></i> My Playlist</td>
            </tr>
        </table>
    </div>
    <div class="span9">
        <table class='table table-striped table-hover table-condensed'>
            <thead>
                <tr>
                    <td width='15px'>
                    </td>
                    <td width='200px'>
                        Title
                    </td>
                    <td width='100px'>
                        Time
                    </td>
                    <td width='150px'>
                        Artist
                    </td>
                    <td width='200px' style="overflow: hidden">
                        Album
                    </td>

                </tr>
            </thead>
            <tbody>
                <!--<tr ng-click="load_videos(music.up_next,$index);$rootScope.is_up_next_playing = true;" ng-repeat="song in music.up_next track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}" ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">-->
                <tr ng-repeat="song in music.up_next track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo: 'body', zIndex:'200'}" ng-model="music.songs" jqyoui-draggable="{index: [[$index]], placeholder: 'keep'}">
                    <td style="width:12px"><i ng-show='song==currently_playing' class="icon-play-circle"></i></td>
                    <td> [[song.title]] </td>
                    <td> [[format_to_time(song.duration)]] </td>
                    <td> [[song.artist]] </td>
                    <td ng-click="get_album_contents(song.album_id); $event.stopPropagation()"> [[song.album]]</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>