<html>

<body>

<link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='lib/flat-ui/css/flat-ui.css') }}" rel="stylesheet">

<br>
<br>
<br>
<div class="text-center container">
            <h1>
                Listen.fm
            </h1>

            <h4>
                All the music for free. Really.
            </h4>

            <br>
            <a class="btn btn-large btn-info" href="{{ url_for('index') }}"> Login with Facebook </a>

</div>







</body>

</html>
