<div id='music-player' ng-controller='PlayerCtrl'>
    [[ytVideoTime]]
    <div class="span6">
        <div ng-switch on="PLAYER_STATUS" class="btn-group pull-right">
            <button ng-click="play_previous()" class="btn btn-inverse btn-large"><i class="icon-white icon-fast-backward icon-large"></i></button>

            <button ng-switch-when="pause" ng-click="play()" class="btn btn-inverse btn-large"><i class="icon-white icon-play icon-large"></i></button>
            <button ng-switch-when="play" ng-click="pause()" class="btn btn-inverse btn-large"><i class="icon-white icon-pause icon-large"></i></button>
            <button ng-switch-default ng-click="play()" class="btn btn-inverse btn-large"><i class="icon-white icon-play icon-large"></i></button>

            <button ng-click="play_next()" class="btn btn-inverse btn-large"><i class="icon-white icon-fast-forward icon-large"></i></button>
            <a href=# style='padding:3px' class="btn btn-inverse btn-large"><i class="icon-white icon-youtube-sign icon-2x"></i></a>
            <button style="width:200px;height:44px;padding:0" class="btn btn-inverse btn-large">
                <div style="font-size:90%;margin:2px">[[currently_playing.title]]</div>
                <div style="font-size:65%;align:center">[[currently_playing.artist.name]]</div>
            </button>
            <button style="display:none"></button>
        </div>
    </div>

    <div style='margin-left:0px' class="span6">
        <div class='well player-bar' style='width:400px'>
            <slider class='slider' floor="0" ceiling=[[$root.PLAYER_LENGTH]] step="1" ng-model='$root.PLAYER_TIME' translate="format_to_time" precision="2"></slider>
        </div>
    </div>
</div>

<span style="visibility:hidden">
    <span id="prevplayer"></span>
    <span id="ytplayer"></span>
    <span id="nextplayer"></span>
</span>
